# Python
.venv/
venv/
__pycache__/
*.py[cod]
*$py.class
.Python
*.egg-info/
.eggs/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# OS / IDE
.DS_Store
.idea/
.vscode/

# BentoML / local model artifacts (adjust if you want to track bentos)
bento/
